<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>Education</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavDarkDropdown'
      aria-controls='navbarNavDarkDropdown'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse justify-content-end' id='navbarNavDarkDropdown'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <button
            class='btn btn-dark dropdown-toggle'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <image
              src='https://files.fullstack.edu.vn/f8-prod/user_photos/173943/62188a60464f4.jpg'
              alt='avt'
              class='user-avatar'
            ></image>
            Quốc Anh
          </button>
          <ul class='dropdown-menu dropdown-menu-dark'>
            <li><a class='dropdown-item' href='/courses/create'>Tạo khóa học</a></li>
            <li><hr class='dropdown-divider' /></li>

            <li>
              <a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a>
            </li>
            <li><a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='/log-in'>Đăng xuất</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>